
<%- contentFor('hero') %>
<section class="hero">
	<div class="hero-content">
		<h2>Welcome to the site !!</h2>
		<p>The best place to be</p>
		<a class="btn btn-lg btn-success" href="/">Get Started</a>
	</div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
	Home Page Welcome to the site !!
</div>

